{{ set(this, 'title', 'Сервисный центр ' ~ model.name ~ ' ' ~ model.address ~ ' - отзывы, цены, телефон  | ТЕХПРОФРЕМОНТ') }}
{{ this.registerMetaTag({'name':'description', 'content': 'Адрес, телефон, время работы сервисного центра '~ model.name ~' в ' ~ app.params['subdomain_cases']['proposed'] ~ '. Постгарантийный ремонт и сервисное обслуживание техники по низким ценам в сервисном центре ' ~ model.name ~ '.' }) }}

<div class="wrapper">
    <div class="breadcrumbs">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
	            <a itemprop="item" href="{{ app.homeUrl }}">
		            <span itemprop="name">{{ app.params['breadcrumbs_main_name'] }}</span>
		            <meta itemprop="position" content="1" />	
	       		</a>
    		</li>
            {% if model.category.catalog %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                	<a itemprop="item" href="/{{ model.category.catalog.alias }}">
                		<span itemprop="name">{{ model.category.catalog.name }}</span>
		            	<meta itemprop="position" content="2" />		
                	</a>
            	</li>
            {% endif %}
            {% if model.category.parent.parent %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                	<a itemprop="item" href="{{ model.category.catalog.alias }}{{ model.category.parent.parent.alias }}">
                		<span itemprop="name">{{ model.category.parent.parent.name }}</span>
		            	<meta itemprop="position" content="3" />		
                	</a>
            </li>
            {% endif %}
            {% if model.category.parent %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/{{ model.category.catalog.alias }}{{ model.category.parent.parent.alias }}/{{ model.category.parent.alias }}">
                	<span itemprop="name"> {{ model.category.parent.name }}</span>
               		<meta itemprop="position" content="4" />
                </a>
            </li>
            {% endif %}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            	<a itemprop="item" href="/{{ model.category.catalog.alias }}{{ model.category.parent.parent.alias }}/{{ model.category.parent.alias }}/{{ model.category.alias }}">
            	<span itemprop="name">{{ model.category.name }}</span>
            	<meta itemprop="position" content="5" />
            	</a>
        	</li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            	
            	<span itemprop="name">{{ model.name }}</span>
            	<meta itemprop="position" content="6" />
            
            	
            </li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget() }}
            </div>
            <!-- /.content__sidebar -->
            <div itemscope itemtype="http://schema.org/LocalBusiness" class="content__body">
                <h1>
                	Сервисный центр «<span itemprop="name">{{ model.name }}</span>»
                </h1>
                <div class="item__row">
                    <div class="item__col-left">
                        {% if model.image %}
                        <img src="/userfiles/products/{{ model.image }}" itemprop="image" alt="Логотип кампании {{ model.name }}">
                        {% else %}
                            <div class="not__image">
                                <div class="item__name">
                                    «{{ model.name }}»
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="item__col-right">
                        {% if model.makers %}
                            {% for item in model.makers %}
                                <div class="name"><b><a href="{{ path('maker/show', {'alias': item.alias}) }}">{{ item.name }}</a></b></div>
                            {% endfor %}
                        {% endif %}
                        <div class="desc">
                            <ul>

                                <li><span>Часы работы:</span></span> <b><span itemprop="openingHours">{{ model.working_hours }}</span></b></li>
                                <li><span>E-mail:</span> <b><a href="mailto:{{ model.balance }}"><span itemprop="email">{{ model.balance }}</span></a></b></li>
                                <li><span>Адрес:</span> <b><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">{{ model.address }}</span></b></li>
                            </ul>
                        </div>
                        <div class="price">
                            Телефон: <span itemprop="telephone">{{ model.phone }}</span>
                        </div>

                        {% for advantage in model.advantages %}
                            <div class="item__availability-btn btn__hover"><a href="#">{{ model.getByKeyAdvantage(advantage) }}</a></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text" itemprop="description">
                   <p> Компания «{{ model.name }}» осуществляет профессиональный постгарантийный ремонт и сервисное обслуживание следующей техники и оборудования: {{ model.category.name }}. 
                   Дополнительные услуги включают диагностику, установку, пуск и наладку при необходимости, консультации. Адрес, телефон, время работы сервисного центра «{{ model.name }}» в {{ app.params['subdomain_cases']['proposed'] }}. Отзывы о работе.</p>


                    {{ model.text| raw }}
                    {% if point %}
                        {{ this.registerJsFile('https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;coordorder=longlat') }}
                        <h2 class="map-title">Карта и схема проезда</h2>
                        <div itemscope itemprop="hasMap" itemtype="http://schema.org/Map" class="product_map" id="yandex-map" data-point="{{ point.getCoords() }}"></div>
                    {% endif %}
                </div>

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->
