{{ void(this.beginPage()) }}<!DOCTYPE html>
<html lang="ru">
<head>
	<meta name="yandex-verification" content="0621a6001c7266fd" />
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <title>{{ this.title| raw }}</title>
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {{ register_asset_bundle('frontend/assets/AppAsset') }}
    {{ html.csrfMetaTags| raw }}
    {{ void(this.head) }}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(54470851, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/54470851" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
{{ void(this.beginBody()) }}
    <header>
        <div class="wrapper">
            <div class="header__sections">
                <div class="logo">
                    <a href="{{ app.homeUrl }}">
                        <img src="/img/logo.png" alt="logo">
                        Поиск сервисных центров для ремонта и обслуживания техники в {{ app.params['subdomain_cases']['proposed'] }}
                    </a>
                </div>
                <!-- /.logo -->
                <div class="h__contact-menu">
                    <div class="contact__box">
                       <div class="contact__box-city">
                            <span>Ваш город:</span>
                            <div class="custom__select">
                                <form action="#">
                                    <select name="cities" id="cities">
                                        {% for key,value in app.params.subdomains %}
                                            {% if key == 'www' %}
                                                <option value="{{ app.params['site_domain'] }}">{{ value.nominative }}</option>
                                            {% else %}
                                                <option value="{{ key }}.{{ app.params['site_domain'] }}">{{ value.nominative }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                       
                        <div class="contact__box-address">
                            <div class="value">
                                <a href="/registration"> Добавить сервисный центр</a>
                            </div>
                        </div>
                       
                        <div class="contact__box-phone">
                           
                        </div>
                          
                    </div>
                    <!-- /.contact__box -->
                    <menu class="menu_head">
                        {{ use('frontend/widgets/Menu/Menu') }}
                        {{ menu_widget({'sysName': 'menu_head'}) }}
                    </menu>
                    <div class="mob-menu">
                        <img src="/img/icon-menu.svg" alt="">
                    </div>
                    <div class="mob-menu-close">
                        <img src="/img/icon-close.svg" alt="">
                    </div>
                </div>
                <!-- /.h__contact-menu -->
            </div>
            <!-- /.header__sections -->
        </div>
        <!-- /.wrapper -->
    </header>

    {{ use('frontend/widgets/Search/Search') }}
    {{ search_widget() }}

    {% if app.session.getFlash('message') %}
        <legend id="success__message">
            {{ app.session.getFlash('message') }}
        </legend>
    {% endif %}

    {{ content| raw }}

    <footer>
        <div class="wrapper">
            <div class="items border">
                <div class="logo">
                    <img src="/img/logo.png" alt="alt">
                </div>
                <div class="menu">
                    {{ menu_widget({'sysName': 'menu_footer'}) }}
                </div>
            </div>
            <div class="items copyright">
                <div class="left">© 2017-{{ now| date('Y') }}</div>
                <div class="right"><a href="https://make-digital.ru/">Создание и продвижение сайта</a></div>
            </div>
        </div>
    </footer>
{{ void(this.endBody()) }}
</body>
</html>{{ void(this.endPage()) }}
