{% set customTitle = (model.h1 ? model.h1 : model.name)  ~ ' ' ~ brands.name %}
{{ set(this, 'title', customTitle ~ ' в ' ~ app.params['subdomain_cases']['proposed'] ~ ' - адреса, телефоны и отзывы о сервисных центрах') }}
{{ this.registerMetaTag({'name':'description', 'content': customTitle ~ ' в '
 ~ app.params['subdomain_cases']['proposed'] ~ ' недорого и по доступным ценам. Адреса и телефоны официальных и авторизованных сервисных центров в '
 ~ app.params['subdomain_cases']['proposed'] ~ '.'}) }}

<div class="wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ app.homeUrl }}">{{ app.params['breadcrumbs_main_name'] }}</a></li>
            <li><a href="{{ path('site/page', {'alias': model.catalog.alias}) }}">{{ model.catalog.name }}</a></li>
            <li><a href="{{ path('catalog/show', {
                    'catalog': model.catalog.alias,
                    'category': model.parent.alias,
                    'page': 0
                }) }}">{{ model.parent.name }}</a></li>
            <li>
                <a itemprop="item" href="{{ path('catalog/show-sub-category', {
                    'catalog': model.catalog.alias,
                    'category': model.parent.alias,
                    'subcategory': model.alias,
                    'page': 0
                }) }}">{{ model.name }}</a>
            </li>
            <li>{{ model.name ~ ' ' ~ brands.name }}</li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget({'model': sidebarMenuLinks}) }}
            </div>
            <!-- /.content__sidebar -->
            <div class="content__body">
                <h1>{{ model.h1 ? model.h1 : model.name }}  {{ brands.name }}</h1>
                <div class="text">
                   <p>{{ customTitle }} в {{ app.params['subdomain_cases']['proposed'] }}: все официальные и авторизированные сервисные центры, а так же частные мастера представлены в каталоге ТЕХПРОФРЕМОНТ.
                     Адреса и телефоны компаний, реальные отзывы без накруток, информация о стоимости ремонта. 
                     Проверенные компании, оказвающие услуги гарантийного и постгарантийного обслуживания {{ brands.name }}. Без вымышленных поломок, комплектующие в наличии, запчасти по себестоимости.
                    </p>
                </div>
                {{ use('frontend/widgets/Brands/Brands') }}
                {{ brands_widget() }}

                <div class="items">
                    {{ use('frontend/widgets/ProductsListForCategory/ProductsListForCategory') }}
                    {{ products_list_for_category_widget({
                        'items': products
                    }) }}
                </div>
                <!-- /.items -->

                {{ use('frontend/widgets/PaginateBtn/PaginateBtn') }}
                {{ paginate_btn_widget({'count': count}) }}

          

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->
