{{ set(this, 'title', model.name) }}

<div class="wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/{{ app.homeUrl }}">{{ app.params['breadcrumbs_main_name'] }}</a></li>
            <li><a href="/{{ model.catalog.alias }}">{{ model.catalog.name }}</a></li>
            <li><a href="/{{ model.catalog.alias }}/{{ model.category.alias }}">{{ model.category.name }}</a></li>
            <li>{{ model.name }}</li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget({'model': model.catalog}) }}
            </div>
            <!-- /.content__sidebar -->
            <div class="content__body">
                <h1>{{ model.name }}</h1>

                <div class="auto__names">
                    <ul>
                        {% for brand in brands %}
                        <li><a href="#">{{ brand.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="items">
                    {{ use('frontend/widgets/ProductsListForCategory/ProductsListForCategory') }}
                    {{ products_list_for_category_widget({
                        'items': products
                    }) }}
                </div>
                <!-- /.items -->

                {% if count > offset %}
                    <div class="load__more-btn btn__hover">
                        <span data-offset="{{ offset }}" data-count="{{ count }}">Показать ещё</span>
                    </div>
                    <!-- /.load__more-btn -->
                {% endif %}

                <div class="text">
                    {{ model.text| raw }}
                </div>

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->