{{ set(this, 'title', model.name) }}

<div class="wrapper">
    <div class="breadcrumbs">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ app.homeUrl }}">
                    <span itemprop="name">{{ app.params['breadcrumbs_main_name'] }}</span>
                    <meta itemprop="position" content="1" />    
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/{{ model.catalog.alias }}">
                    <span itemprop="name">{{ model.catalog.name }}</span>
                    <meta itemprop="position" content="2" />   
                </a> 
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{ model.name }}</span>
                <meta itemprop="position" content="3" />   
            </li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget({'model': model.catalog}) }}
            </div>
            <!-- /.content__sidebar -->
            <div class="content__body">
                <h1>{{ model.name }}</h1>

                <div class="items">
                    {{ use('frontend/widgets/ProductsListForCategory/ProductsListForCategory') }}
                    {{ products_list_for_category_widget({
                        'items': products
                    }) }}
                </div>
                <!-- /.items -->

                {% if count > offset %}
                    <div class="load__more-btn btn__hover">
                        <span data-offset="{{ offset }}" data-count="{{ count }}">Показать ещё</span>
                    </div>
                    <!-- /.load__more-btn -->
                {% endif %}

                <div class="text">
                    {{ model.text| raw }}
                </div>


                845454545454513210.0

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->
