{% set r = app.request %}
{% if brands %}
<div class="auto__names">
    <ul>
        {% for brand in brands %}
            <li>
                <a href="/{{ r.get('catalog') }}/{{ r.get('category') }}/{{ r.get('subcategory') ? r.get('subcategory') ~ '/' : '' }}{{ r.get('subsubcategory') ? r.get('subsubcategory') ~ '/' : '' }}auto-{{ brand.alias }}">
                    {{ brand.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}