{{ set(this, 'title', (model.h1 ? model.h1 : model.name) ~ ' в ' ~ app.params['subdomain_cases']['proposed'] ~ ' срочно - цены, адреса и телефоны сервисных центров') }}
{{ this.registerMetaTag({'name':'description', 'content': (model.h1 ? model.h1 : model.name) ~ ' в ' ~ app.params['subdomain_cases']['proposed'] ~ ' недорого и по доступным ценам, вызов мастера на дом. Большой выбор сервисных центров и частных мастеров, фото, телефоны и отзывы.'}) }}


<div class="wrapper">
    <div class="breadcrumbs">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ app.homeUrl }}">
                    <span itemprop="name">
                        {{ app.params['breadcrumbs_main_name'] }}
                    </span>
                    <meta itemprop="position" content="1" />
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('site/page', {'alias': model.catalog.alias}) }}">
                    <span itemprop="name">
                        {{ model.catalog.name }}
                    </span>
                    <meta itemprop="position" content="2" />
                </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('catalog/show', {
                    'catalog': model.catalog.alias,
                    'category': model.parent.alias,
                    'page': 0
                }) }}">
                <span itemprop="name">
                {{ model.parent.name }}</span>
                <meta itemprop="position" content="3" />
            </a>
            </li>
            <li>
                 {{ model.name }}
            </li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget({'model': sidebarMenuLinks}) }}
            </div>
            <!-- /.content__sidebar -->
            <div class="content__body">
                <h1>{{ model.h1 ? model.h1 : model.name }} в {{ app.params['subdomain_cases']['proposed'] }}</h1>

                {{ use('frontend/widgets/Brands/Brands') }}
                {{ brands_widget({'brands': model.brands}) }}
                {% if model.text %}
                <div class="seo-text">
                    {{ model.text| replace({'{brand}': ''})| raw }}
                </div>
                {% endif %}

                <div class="items">
                    {{ use('frontend/widgets/ProductsListForCategory/ProductsListForCategory') }}
                    {{ products_list_for_category_widget({
                        'items': products
                    }) }}
                </div>
                <!-- /.items -->

                {{ use('frontend/widgets/PaginateBtn/PaginateBtn') }}
                {{ paginate_btn_widget({'count': count}) }}

                {% if model.text_seo %}
                    <div class="seo-text">
                        {{ model.text_seo|replace({'{brand}': ''})|raw }}
                    </div>
                {% endif %}

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->
