{% for item in model %}
    <div class="item">
        <!-- /.item__image -->

        <div class="item__image">
            {% if item.image %}
                 <div class="item__name">
                    <a href="{{ path('product/show', {'alias': item.alias}) }}">«{{ item.name }}»</a>
                </div>
                <a href="{{ path('product/show', {'alias': item.alias}) }}">
                    <img src="/userfiles/products/{{ item.image }}" alt="{{ item.name }}">
                </a>
            {% else %}
                <a href="{{ path('product/show', {'alias': item.alias}) }}">
                    <div class="not__image">
                        <div class="item__name">
                            «{{ item.name }}»
                        </div>
                    </div>
                </a>
            {% endif %}
{#           <div class="item__availability-btn"><a href="/catalog/{{ item.alias }}">Узнать о наличии</a></div>#}
        </div>
        <div class="item_description">
            <div class="itemadress"><img style="vertical-align:text-top;padding-right: 8px;" src="/img/adress-icon.png"> {{ item.address }}</div>
            <div class="itemphone"><img style="vertical-align:text-top;padding-right: 8px;" src="/img/phone-icon.png">{{ item.phone }}</div>
        </div>
        <!-- /.item__name -->
        <div class="item_btn">
            <a href="{{ path('product/show', {'alias': item.alias}) }}" class="item__price">Подробнее</a>
        </div>
    </div>
{% endfor %}
