{% for item in model %}
    <div class="item">
        <!-- /.item__image -->
        <div class="item__name">
            <a href="{{ path('product/show', {'alias': item.alias}) }}">{{ item.name }}</a>
        </div>
        <div class="item__image">
            <a href="/catalog/{{ item.alias }}">
                <img src="/userfiles/{{ item.image ? 'products/' ~ item.image : 'not_photo.jpg' }}" alt="{{ item.name }}">
            </a>
           <!-- <div class="item__availability-btn"><a href="/catalog/{{ item.alias }}">Узнать о наличии</a></div> -->
        </div>
        <div class="item_description">
        {{ item.text|slice(0,200)|raw }}
        </div>
        <!-- /.item__name -->
        <div class="item_btn">
            <a href="{{ path('product/show', {'alias': item.alias}) }}" class="item__price">Подробнее</a>
        </div>
    </div>
{% endfor %}
