{{ set(this, 'title', app.request.get('number')) }}

<div class="wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ app.homeUrl }}">{{ app.params['breadcrumbs_main_name'] }}</a></li>
            <li>{{ app.request.get('number') }}</li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget() }}
            </div>
            <!-- /.content__sidebar -->
            <div class="content__body">
                <h1>{{ app.request.get('number') }}</h1>

                <div class="items">
                    {{ use('frontend/widgets/ProductsListForCategory/ProductsListForCategory') }}
                    {{ products_list_for_category_widget({
                        'items': products
                    }) }}
                </div>
                <!-- /.items -->

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->