{% if model %}
    <ul class="main-menu">
        {% for item in model %}
            <li class="{% if app.request.url == item.link %}active{% endif %}">
                <a href="{{ item.link }}">{{ item.name }}</a>
                {% if item.menuItems %}
                    <ul>
                        {% for item in item.menuItems %}
                            <li><a href="{{ item.link }}">{{ item.name }}</a>
                                {% if item.menuItems %}
                                    <ul>
                                        {% for item in item.menuItems %}
                                            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if item.menuItems and app.request.url != item.link %}<span class="icon-down"></span>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}