{% set customTitle = (model.h1 ? model.h1 : model.name) ~ ' для ' ~ (brandAuto.name ? ' ' ~ brandAuto.name : '') ~ (modelAuto.name and not generationAuto ? ' ' ~ modelAuto.name : '') ~ (generationAuto.name ? ' ' ~ generationAuto.name : '') %}
{{ set(this, 'title', customTitle ~ ' купить в ' ~ app.params['subdomain_cases']['proposed'] ~ ' - лучшие цены в каталоге интернет магазина One Auto') }}
{{ this.registerMetaTag({'name':'description', 'content': 'Всегда в наличиии ' ~ customTitle ~ ' в ' ~ app.params['subdomain_cases']['proposed'] ~ ' недорого и по доступным ценам. Купить ' ~ (model.h1 ? model.h1 : model.name) ~ ' в каталоге One Auto.'}) }}

<div class="wrapper">
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ app.homeUrl }}">{{ app.params['breadcrumbs_main_name'] }}</a></li>
            <li><a href="{{ path('site/page', {'alias': model.catalog.alias}) }}">{{ model.catalog.name }}</a></li>
            <li><a href="{{ path('catalog/show', {
                    'catalog': model.catalog.alias,
                    'category': model.parent.parent.alias,
                    'page': 0
                }) }}">{{ model.parent.parent.name }}</a></li>
            <li><a href="{{ path('catalog/show-sub-category', {
                    'catalog': model.catalog.alias,
                    'category': model.parent.parent.alias,
                    'subcategory': model.parent.alias,
                    'page': 0
                }) }}">{{ model.parent.name }}</a></li>
            <li>{{ model.name }}</li>
        </ul>
    </div>
    <!-- /.breadcrumbs -->
</div>

<section class="content">
    <div class="wrapper">
        <div class="items">
            <div class="content__sidebar">
                {{ use('frontend/widgets/SidebarMenu/SidebarMenu') }}
                {{ sidebar_menu_widget({'model': sidebarMenuLinks}) }}
            </div>
            <!-- /.content__sidebar -->
            <div class="content__body">
                <h1>{{ model.h1 ? model.h1 : model.name }} для {{ (brandAuto.name ? ' ' ~ brandAuto.name : '') ~ (modelAuto.name and not generationAuto ? ' ' ~ modelAuto.name : '') ~ (generationAuto.name ? ' ' ~ generationAuto.name : '')}}</h1>

                {{ use('frontend/widgets/AutoBrands/AutoBrands') }}
                {{ auto_brands_widget() }}

                <div class="items">
                    {{ use('frontend/widgets/ProductsListForCategory/ProductsListForCategory') }}
                    {{ products_list_for_category_widget({
                        'items': products
                    }) }}
                </div>
                <!-- /.items -->

                {{ use('frontend/widgets/PaginateBtn/PaginateBtn') }}
                {{ paginate_btn_widget({'count': count}) }}

                <div class="text">
                    {{ model.text| raw }}
                </div>

                {{ use('frontend/widgets/FormOrder/FormOrder') }}
                {{ form_order_widget() }}

            </div>
            <!-- /.content__body -->
        </div>
        <!-- /.items -->
    </div>
</section>
<!-- /.content -->