{{ set(this, 'title', 'Сервисные центры по ремонту, обслуживанию и установке техники в ' ~ app.params['subdomain_cases']['proposed'] ~ ' каталог ТЕХПРОФРЕМОНТ') }}
{{ this.registerMetaTag({'name':'description', 'content': 'One Auto - интернет магазин автозапчастей в ' ~ app.params['subdomain_cases']['proposed'] ~ '. Мы готовы предложить широкий ассортимент деталей в наличии по оптимальным ценам.'}) }}

<section class="categories">
    <div class="wrapper">
        <h1 style="text-align:center;">Проверенные сервисные центры по ремонту техники в {{ app.params['subdomain_cases']['proposed'] }}</h1>
        <div class="items">
            <div class="first__column">
                <a href="/remont/cifrovaya-tehnika">
                <div class="categories__item">
                    <img src="./img/cat_img-01.png" alt="alt">
                    <div class="categories__item-desc">
                        <div class="categories__item-name">Цифровая техника</div>
                        <div class="categories__item-count">Ноутбуки, компьютеры, телефоны, планшеты и др.</div>
                    </div>
                    <!-- /.categories__item-desc -->
                </div>
                </a>
                <!-- /.categories__item -->
            </div>
            <!-- /.first_column -->
            <div class="second__column">
                <div class="first__column">
                    <a href="/remont/audio-video-tehnika">
                    <div class="categories__item">
                        <img src="./img/cat_img-02.png" alt="alt">
                        <div class="categories__item-desc">
                            <div class="categories__item-name">Аудио видео техника</div>
                            <div class="categories__item-count">Усилители, автомагнитолы, игровые приставки</div>
                        </div>
                        <!-- /.categories__item-desc -->
                    </div>
                    </a>
                    <!-- /.categories__item -->
                    <a href="/remont/klimaticheskaya-tehnika">
                    <div class="categories__item">
                        <img src="./img/cat_img-03.png" alt="alt">
                        <div class="categories__item-desc">
                            <div class="categories__item-name">Климатическая техника</div>
                            
                        </div>
                        <!-- /.categories__item-desc -->
                    </div>
                    </a>
                    <!-- /.categories__item -->
                </div>
                <div class="categories__item margin__left-05">
                    <a href="/remont/melkaya-bitovaya-tehnika">
                        <img src="./img/cat_img-04.png" alt="alt">
                        <div class="categories__item-desc">
                            <div class="categories__item-name">Мелкая бытовая техника</div>
                            <div class="categories__item-count">Чайники, утюги, кофемашины,<br> блендеры, пароварки, пылесосы</div>
                        </div>
                    </a>
                    <!-- /.categories__item-desc -->
                </div>
                <!-- /.categories__item -->
            </div>
            <!-- /.second__column -->
            <div class="third__column">
                <a href="/remont/krupnaya-bitovaya-tehnika">
                <div class="categories__item">
                    <img src="./img/cat_img-05.png" alt="alt">
                    <div class="categories__item-desc">
                        <div class="categories__item-name">Крупная бытовая техника</div>
                        
                    </div>
                    <!-- /.categories__item-desc -->
                </div>
                </a>
                <!-- /.categories__item -->
                <div class="categories__view-all">
                    <a href="/remont">Показать <br /> все категории</a>
                </div>
                <!-- /.categories__view-all -->
            </div>
            <!-- /.third__column -->
        </div>


    <div class="auto__names">
        <h3>Цифровая техника</h3>
        <ul>
            <li>
                <a href="/remont/сifrovaya-tehnika/noutbuki">
                    Ноутбуки
                </a>
            </li>
            <li>
                <a href="/remont/сifrovaya-tehnika/kompjutery">
                    Компьютеры
                </a>
            </li>
            <li>
                <a href="/remont/сifrovaya-tehnika/telefony">
                   Телефоны
                </a>
            </li>
                    <li>
                <a href="/remont/сifrovaya-tehnika/planshety">
                    Планшеты
                </a>
            </li>
                    <li>
                <a href="/remont/сifrovaya-tehnika/fotoapparaty">
                    Фотоаппараты
                </a>
            </li>
                    <li>
                <a href="/remont/сifrovaya-tehnika/monobloki">
                    Моноблоки
                </a>
            </li>
                    <li>
                <a href="/remont/сifrovaya-tehnika/pleery">
                   Плееры
                </a>
            </li>
                    <li>
                <a href="/remont/сifrovaya-tehnika/elektronnije-knigi">
                    Электронные книги
                </a>
            </li>
                  <li>
                <a href="/remont/сifrovaya-tehnika/proektory">
                    Проекторы
                </a>
            </li>
                  <li>
                <a href="/remont/сifrovaya-tehnika/umnije-chasi">
                    Умные часы
                </a>
            </li>
            </ul>
<h3 style="margin-top: 30px;">Мелкая бытовая техника</h3>
        <ul>
            <li>
                <a href="/remont/melkaya-bitovaya-tehnika/shvejnije-mashiny">
                   Швейные машинки
                </a>
            </li>
            <li>
                <a href="/remont/melkaya-bitovaya-tehnika/chayniki">
                    Чайники
                </a>
            </li>
            <li>
                <a href="/remont/melkaya-bitovaya-tehnika/mjasorubki">
                   Масорубки
                </a>
            </li>
                    <li>
                <a href="/remont/melkaya-bitovaya-tehnika/utjigi">
                    Утюги
                </a>
            </li>
                    <li>
                <a href="/remont/melkaya-bitovaya-tehnika/blendery">
                    Блендеры
                </a>
            </li>
                    <li>
                <a href="/remont/melkaya-bitovaya-tehnika/multivarki">
                    Мультиварки
                </a>
            </li>
                    <li>
                <a href="/remont/melkaya-bitovaya-tehnika/kofemashiny">
                   Кофемашины
                </a>
            </li>
                    <li>
                <a href="/remont/melkaya-bitovaya-tehnika/parovarki">
                    Пароварки
                </a>
            </li>
                  <li>
                <a href="/remont/melkaya-bitovaya-tehnika/sokovijimalki">
                    Соковыжималки
                </a>
            </li>
                  <li>
                <a href="/remont/melkaya-bitovaya-tehnika/pylesosy">
                    Пылесосы
                </a>
            </li>
            </ul>
<h3 style="margin-top: 30px;">Крупная бытовая техника</h3>
        <ul>
            <li>
                <a href="/remont/krupnaya-bitovaya-tehnika/stiralnije-mashiny">
                   Стиральные машины
                </a>
            </li>
            <li>
                <a href="/remont/krupnaya-bitovaya-tehnika/holodilniki">
                    Холодильники
                </a>
            </li>
            <li>
                <a href="/remont/krupnaya-bitovaya-tehnika/posudomoechnye-mashiny">
                   Посудомойки
                </a>
            </li>
                    <li>
                <a href="/remont/krupnaya-bitovaya-tehnika/mikrovolnovki">
                    Микроволновки
                </a>
            </li>
                    <li>
                <a href="/remont/krupnaya-bitovaya-tehnika/varochnye-paneli">
                    Варочные панели
                </a>
            </li>
                    <li>
                <a href="/remont/krupnaya-bitovaya-tehnika/elektroplity">
                    Электроплиты
                </a>
            </li>
         </ul>
<h3 style="margin-top: 30px;">Аудио видео техника</h3>
        <ul>
            <li>
                <a href="/remont/audio-video-tehnika/usiliteli">
                   Усилители
                </a>
            </li>
            <li>
                <a href="/remont/audio-video-tehnika/avtomagnitoly">
                    Автомагнитолы
                </a>
            </li>
            <li>
                <a href="/remont/audio-video-tehnika/igrovije-pristavki">
                   Игровые приставки
                </a>
            </li>
                    <li>
                <a href="/remont/audio-video-tehnika/muzikalnije-tsentry">
                    Музыкальные центры
                </a>
            </li>
                    <li>
                <a href="/remont/audio-video-tehnika/videokamery">
                    Видеокамеры
                </a>
            </li>
            <li>
                <a href="/remont/audio-video-tehnika/televizory">
                    Телевизоры
                </a>
            </li>
            <li>
                <a href="/remont/audio-video-tehnika/naushniki">
                    Наушники
                </a>
            </li>
         </ul>


<h3 style="margin-top: 30px;">Офисная оргтехника</h3>
        <ul>
            <li>
                <a href="/remont/ofisnaya-orgtechnika/printery-mfu">
                   Принтеры и МФУ
                </a>
            </li>
            <li>
                <a href="/remont/ofisnaya-orgtechnika/kopiry">
                    Копиры
                </a>
            </li>
            <li>
                <a href="/remont/ofisnaya-orgtechnika/laminatory">
                   Ламинаторы
                </a>
            </li>
                    <li>
                <a href="/remont/ofisnaya-orgtechnika/shredery">
                    Шредеры
                </a>
            </li>
                    <li>
                <a href="/remont/ofisnaya-orgtechnika/faksy">
                    Факсы
                </a>
            </li>
            <li>
                <a href="/remont/ofisnaya-orgtechnika/plottery">
                    Плоттеры
                </a>
            </li>
            <li>
                <a href="/remont/ofisnaya-orgtechnika/skanery">
                    Сканеры
                </a>
            </li>
         </ul>
<h3 style="margin-top: 30px;">Климатическая техника</h3>
        <ul>
            <li>
                <a href="/remont/klimaticheskaya-tehnika/konditsionery">
                   Кондиционеры
                </a>
            </li>
            <li>
                <a href="/remont/klimaticheskaya-tehnika/vodonagrevateli">
                    Водонагреватели
                </a>
            </li>
            <li>
                <a href="/remont/klimaticheskaya-tehnika/ventiljatory">
                   Вентиляторы
                </a>
            </li>
                    <li>
                <a href="/remont/klimaticheskaya-tehnika/obogrevateli-radiatory">
                    Обогреватели
                </a>
            </li>
                    <li>
                <a href="/remont/klimaticheskaya-tehnika/ionizatory-vozduha">
                    Ионизаторы
                </a>
            </li>
            <li>
                <a href="/remont/klimaticheskaya-tehnika/osuchiteli-vozduha">
                    Осушители воздуха
                </a>
            </li>
            <li>
                <a href="/remont/klimaticheskaya-tehnika/uvlajniteli-vozduha">
                    Увлажнители воздуха
                </a>
            </li>
         </ul>

<h3 style="margin-top: 30px;">Электроинструмент</h3>
        <ul>
            <li>
                <a href="/remont/electroinstrument/elektropily">
                   Электропилы
                </a>
            </li>
            <li>
                <a href="/remont/electroinstrument/elektrolobziki">
                    Электролобзики
                </a>
            </li>
            <li>
                <a href="/remont/electroinstrument/perforatory">
                   Перфораторы
                </a>
            </li>
                    <li>
                <a href="/remont/electroinstrument/dreli">
                    Электродрели
                </a>
            </li>
                    <li>
                <a href="/remont/electroinstrument/shurupoverty">
                    Шуруповерты
                </a>
            </li>
         </ul>

</div>
</div>
    </div>
</section>
<!-- /.categories -->

{% if brands %}
<section class="brands">
    <h2 style="text-align:center;">Популярные производители</h2>
    <div class="wrapper">
        <div class="items">
            {% for item in brands %}
            <div class="item">
                <a href="{{ path('brand/show', {'alias': item.alias}) }}">
                    <img src="/userfiles/auto_brands/{{ item.image }}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
    <div class="brands_batton">
            <a href="/populyarnye-proizvoditeli" class="more_brands">Все производители</a>
        </div>
</section>
<!-- /.brands -->
{% endif %}
